@media screen and (min-width: 1200px) {
    .submit_container {
        width: 122px;
    }
    .submit_container input {
        width: 100%;
        height: 151px !important;
        text-align: center !important;
        margin-top: auto;
    }
}
@media screen and (max-width: 991px) {
    .referral_header .points {
        height: 8vh;
        position: relative;
        top: unset;
        right: unset;
    }
}
@media screen and (max-width: 769px) {
    .dashboard_container {
        position: relative !important;
        width: 95%;
        margin: auto;
    }
    .dashboard_container .dashboard_header {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media only screen and (max-width: 600px) {
    .rewards {
        padding: 0 !important;
        margin: 0 !important;
    }
    .unactive-cir {
        padding: 8px !important;
        display: none;
    }
    .container {
        max-width: 99% !important;
    }
    table th {
        font-size: 13px !important;
    }
    table td {
        font-size: 13px !important;
    }
    .navbar-expand-lg {
        padding: 0px 10px;
    }
    .navbar-expand-lg img {
        width: 150px !important;
    }
    .footer ul {
        display: block !important;
        text-align: center !important;
    }
    .footer ul a {
        display: block;
        text-align: center !important;
    }
    .footer ul li {
        text-align: center !important;
    }
    .sol-list ul {
        margin: 0;
    }
    .sol-list ul img {
        width: 30px !important;
        height: 30px !important;
    }
    .cashbox img {
        width: 80px !important;
    }
    .rewards h2 {
        font-size: 23px !important;
    }
    .rewards p {
        font-size: 14px !important;
        margin-bottom: 40px;
    }
    .rewards span {
        padding: 20px 5px !important;
        margin: 20px 0;
    }
    .rewards h3 {
        font-size: 18px;
    }
    .rewards ul {
        margin: 0 !important;
    }
    .rewards ul img {
        width: 30px !important;
        height: 30px !important;
        margin: 0px 10px !important;
    }
    .mpprre87 {
        width: 90% !important;
        left: 5% !important;
    }
    .mpprre87 .paytpye {
        margin: 5px !important;
    }
}
@media (min-width: 400px) and (max-width: 600px) {
    .footer .content ul {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }
}
/* extera small screen */
@media screen and (max-width: 420px) {
    /* sidebar */
    .sidebar a {
        padding: 13px 10px;
    }
    .sidebar a span {
        width: 80px;
    }
    /* end sidebar */
    /* setting page */
    .settig_heading h1 {
        font-size: 22px;
    }
}
@media screen and (max-width: 330px) {
    .sidebar a img {
        width: 15px;
    }
    .sidebar a {
        font-size: 8px;
    }
}
/* end extera small screen */

@media only screen and (max-width: 600px) {
    .container {
        max-width: 100% !important;
    }
    .features .col-md-4:nth-child(3) .box {
        transform: scale(1) !important;
    }
    .header {
        background-size: cover !important;
    }
    .services .col-md-4:nth-child(3) .box {
        transform: scale(1);
    }
    .header .content h2 {
        font-size: 30px;
    }
    .navbar-nav ul {
        display: block !important;
    }
    .navbar-nav li {
        display: block !important;
    }
    .navbar-nav .nav-link {
        display: block !important;
    }
    .topbar ul {
        display: inline !important;
    }
    html {
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
    }
    .default-management-list .management-header h2 {
        font-size: 30px;
    }
    .topbar nav {
        padding: 10px;
    }
}

@media (min-width: 601px) and (max-width: 922px) {
    .footer .content ul {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }
}
/* small screen */
@media screen and (max-width: 767.5px) {
    /* sidebar */
    .sidebar {
        position: fixed;
        bottom: 0;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        max-width: 98%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        overflow: initial;
    }
    .sidebar a img {
        width: 20px;
    }
    .sidebar a {
        position: relative;
    }
    .sidebar a span {
        display: none;
        position: absolute;
        background: var(--mainColor);
        top: -46px;
        left: 16px;
        z-index: 64;
        width: 115px;
        text-align: center;
        padding: 5px 10px;
        text-transform: capitalize;
        z-index: 0;
    }
    .sidebar a span::before {
        content: "";
        position: absolute;
        bottom: -19px;
        left: 0;
        border-width: 10px;
        border-style: solid;
        border-color: var(--mainColor) transparent transparent transparent;
        z-index: -1;
    }
    .sidebar a:hover span {
        display: block;
    }
    .sidebar .logout {
        font-size: 12px;
    }
    /* end sidebar */
    /* user dashboard */
    .dash-content {
        position: relative;
        width: 100%;
        left: 0;
    }
    /* end user dashboard */
    /* login,registeration, and forget password forms */
    .login-page form {
        border-top-left-radius: 0;
        min-height: auto;
    }
    .login-page form .close_form {
        right: 30px;
        left: unset;
    }
    .login-page .form_picture {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .login-page .form_right {
        border-radius: 0 0 10px 10px !important;
        -webkit-border-radius: 0 0 10px 10px !important;
        -moz-border-radius: 0 0 10px 10px !important;
        -ms-border-radius: 0 0 10px 10px !important;
        -o-border-radius: 0 0 10px 10px !important;
    }
    .login-page .img {
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .login-page .img .d {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .login-page .img h1 {
        font-size: 2em;
    }
    .login-page .img p {
        font-size: 15px;
        margin-bottom: 0;
    }
    .login-page .img a {
        padding: 7px 33px;
        font-size: 22px;
        letter-spacing: 2px;
        line-height: normal;
    }
    .login-page .d {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
    }
    .journey {
        background-position: center;
    }
}
/* end small screen */

/* journey */

@media (min-width: 601px) and (max-width: 922px) {
    .journey .serv_boxes {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media (max-width: 600px) {
    .journey .serv_boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/*  store */

@media (min-width: 601px) {
    .dashboard_container .dash-content .store_board {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        margin: auto;
    }
}
@media (max-width: 600px) {
    .dashboard_container .dash-content .store_board {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
}
/* social */
@media (max-width: 767px) {
.box-bfd{
border-top-right-radius: 5px!important;
}
}